.mainbody {
    margin-left: 15rem; 
    padding: 0px 10px;
  
  }

  .card_container {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0;
    overflow: auto;
    min-width: 15.25em;
    }

    .card_list {
        display: flex;
        max-width: 60em;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 0 1em;
      }

      .card_list-item {
        list-style: none;
        vertical-align: top;
        margin: 2em 0.5em 0 0.5em;
        &:last-child {
          margin-bottom: 2em;
        }
        min-width: 13.25em;
        width: auto;
      }
    
      ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center; 
        padding: 0;
      }
      
      li {
        margin: 1em;
      }