// map variable colors and font families
$colors: (ocean-blue: #286172,
          seafoam-blue: #1bbab5,
          coal-black: #0b2025,
          white: #fff);

$fonts: (base: #{Montserrat, arial, sans-serif},
         cursive: #{Satisfy, cursive});


.event-card {
  background-color: map-get($colors, white);
  box-shadow: 0 0       .3125rem 0 rgba(0, 0, 0, 0.3), 
              0 .125rem .1875rem 0 rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
  max-width: 28em;
}

.event-card__header {
  padding: 0.05em 1.7em;
  max-height: 100%;
  &--seafoam-blue {
    background-color: map-get($colors, seafoam-blue);
  }
}

.event-card__title {
  font-size: 1.5em;
  text-transform: uppercase;
  @media (min-width: 40em) {
    font-size: 1.8em;
  }
}

.event-card__sub-title {
  font-size: 1.3em;
  line-height: 1.5;
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  text-align: right;
  @media (min-width: 40em) {
    font-size: 1.5em;
    line-height: 0;
    margin-top: 0;
    margin-bottom: 1.4em; 
  }
}

.event-card__main-image { 
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}

.event-card__caption {
  color: map-get($colors, white);
  font-size: 0.5em;
  position: absolute;
  bottom: 0.75rem;
  right: 0.4rem;
  @media (min-width: 40em){
    font-size: 0.7em;
    bottom: 0.9rem;
    right: 0.6rem;  
  }
}

.event-card__main-image img {
  width: 100%;
}

.event-card__details {
  color: map-get($colors, coal-black);
  font-size: 0.9em;
  line-height: 1.75;
  padding: 0.5em 1.7em 1.25em 1.7em;
  @media (min-width: 40em){
    font-size:  1em;
    line-height: 1.25; 
    padding: 0.75em 1.7em 1.25em 1.7em;
  }
}

.event-card__details > p {
  margin: 0;
  @media (min-width: 40em){
    margin-bottom: .5em;
  }
}

.event-card__fancy-font {
  color: map-get($colors, white);
  font-size: 1.1em;
  font-family: map-get($fonts, cursive);
}