@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;800&display=swap");
$accent: #932EF9;
$white: #FFFFFF;
$semibold: 500;


$lavendar-magenta: #EC51DE;
$shocking-pink: #EB0EC7;
$governor-bay: #3023AE;
$persian-blue: #3022AD;
$curious-blue: #1897E1;
$dodger-blue: #53A0FD;
$red-violet: #CC19BF;
$mariner: #405CD2;
$seance: #7623A2;



// style={{ maxWidth: "200px", maxHeight: "115px" }} 

.event-details-img{
    max-width: 1000px;
    max-height: 500px;
}
.bold {
    font-family:('poppins');
    font-weight: bold;
    font-size: 15px;
}

.date{
    font-family:('poppins');
    font-weight: 300;
    color: white;
    font-size: 15px;
    margin-bottom: 5px;
    
}

.button{
    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
    background: $accent;
    // width: 20%;
    border: 0;
    font-family: ('poppins');
    font-weight: 500;
    padding: 5px 10px;
    color: $white;
    
    
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 10px;
}

.button:hover{
    background: black;
    transition: all 0.3s ease-out
}

// .event-container{
//     margin: auto 0;
//     // background-color: white;
//     max-width: 1500px;
    
    
// }

.lineup{
    font-family: ('poppins');
    font-weight: 300;
    color: white;
    &-p{

    }
    &-h3 {
        font-weight: bold;
        color: white;
        font-family: ('poppins');
    }
}


.mainheader{
    color:white;
    text-align: center;
    font-size: 40px;
    font-family: ('poppins');
    font-weight: 300;
}

.wrapper{
    overflow: hidden;
    position: relative;
    width: 1000px;
}

.imagetext{
    padding-top:10px;
}

.imagecontainer{
    position: absolute;
    bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.418);
  color: white;
  
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 775px;  
}



.title{
    font-family:('poppins');
    font-weight: 800;
    font-size: 45px;
    color: $white;
    margin-bottom: 25px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column1 {
    display: fixed;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    max-height: 500px;
  }
  

  .column2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    max-height: 500px;
    padding-left: 10px;
  }

  .column {
    margin-top: 20px;  
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    max-height: 500px;
  }