.event-details{
    margin: 0 auto 10px;
    max-width: 70%;
    background-color: #8c6ea5;
}
// style={{ maxWidth: "200px", maxHeight: "115px" }} 

.event-details-img{
    max-width: 500px;
    max-height: 300px;
}