

.side-nav {
    width: 16rem;
    overflow: auto;
    box-shadow: 6px 9px 112px -16px rgba(0,0,0,0.6);;
    height: 100vh;
    list-style: none;
    padding-bottom:2rem;
    background-color: #932EF9;
    cursor:pointer;
    font-weight:300;
  }