@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.mySearch {
    width: 80%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }
  .searchBtn {
      width: 20%;
      font-size: 18px;   
    padding: 11px;
    border: 1px solid #ddd;
    cursor: pointer;
  }

